<%- include('../includes/head.ejs') %>
<link href="category/css/styles.css" rel="stylesheet">
<link href="category/css/responsive.css" rel="stylesheet">
<link href="category/css/registerCSS.css" rel="stylesheet">
</head>

<body>

    <%- include('../includes/navigation.ejs') %>

    <div class="slider display-table">
        <h1 class="title display-table-cell text-center"><b>SIGN UP</b></h1>
    </div><!-- slider -->

    <section class="blog-area section">
        <div class="container col-xl-4">
            <% if (errorMessage) { %>
                <div class="alert alert-danger" role="alert"><%= errorMessage %></div>
            <% } %>

            <form action="/registration" method="POST" >
                <div class="form-group text-left">
                    <label for="fullname">Fullname</label>
                    <input id="fullname" name="fullname" type="text" class="form-control" placeholder="Fullname" required>
                </div>
                <div class="form-group text-left">
                    <label for="email">Email address</label>
                    <input id="email" name="email" type="email" class="form-control" placeholder="Enter email" required>

                </div>
                <div class="form-group text-left">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
                </div>

                <div class="form-group text-left">
                    <label for="confirm">Confirm Password</label>
                    <input id="confirm" name="confirm" type="password" class="form-control" placeholder="Confirm Password" required>
                </div>
                <div class="form-group text-left">
                    <label for="image">URL Image</label>
                    <input id="image" name="image" type="text" class="form-control" placeholder="URL Image" >
                </div>
                <!-- <div class="form-group text-left">
                    <input type="file" name="image" class="input-group input-file" />
                    <button type="text" name="upload" class="btn btn-primary pull-right">Upload</button>
                </div> -->
                <!-- <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
            </form>
        </div><!-- container -->
    </section><!-- section -->


    <%- include('../includes/footer.ejs') %>

    <%- include('../includes/end.ejs') %>