<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

	<!-- Stylesheets -->
	<link href="/common-css/bootstrap.css" rel="stylesheet">
	<link href="/common-css/ionicons.css" rel="stylesheet">
	<link href="/layout-1/css/styles.css" rel="stylesheet">
	<link href="/layout-1/css/responsive.css" rel="stylesheet"></link>
	<title><%= pageTitle %></title>
