<header>
    <div class="container-fluid position-relative no-side-padding">

        <a href="/" class="logo"><img src="/images/logo.png" alt="Logo Image"></a>

        <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

        <ul class="main-menu visible-on-click" id="main-menu">
            <li><a href="/">Home</a></li>
            <%if(!isAuthenticated){%>
            <li><a href="/login">Login</a></li>
            <li><a href="/registration">Sign Up</a></li>
            <%}else if(isAuthenticated){%>
            <li><a name="logout" href="/logout">Logout</a></li>
            <%}%>
        </ul><!-- main-menu -->
        <!-- <%if(isAuthenticated){%> -->
        <div class="src-area">
            <form action="/search" method="POST">
                <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                <input name="search" class="src-input" type="text" placeholder="Type of search">
                
            </form>           
        </div>
        <!-- <%}%> -->

    </div><!-- conatiner -->
</header>
