<%- include('../includes/head.ejs') %>
	<link href="/single-post-2/css/styles.css" rel="stylesheet">
	<link href="/single-post-2/css/responsive.css" rel="stylesheet">
	</head>
<body >

	<%- include('../includes/navigation.ejs') %>

	<div class="slider">

	</div><!-- slider -->

	<section class="post-area">
		<div class="container">

			<div class="row">

				<div class="col-lg-1 col-md-0"></div>
				<div class="col-lg-10 col-md-12">

					<div class="main-post">

						<div class="post-top-area">
							<h3 class="title"><a href="#"><b><%= post.title %></b></a></h3>

							<div class="post-info">
								<div class="left-area">
									<a class="avatar" href="/user/profile/<%=post.userId%>"><img src="../../<%=user.image%>" alt="Profile Image"></a>
								</div>

								<div class="middle-area">
									<a class="name" href="/user/profile/<%=post.userId%>"><b><%= user.fullname %></b></a>
									<h6 class="date">on <%= post.date.toISOString().
										replace(/T/, ' ').
										replace(/\..+/, '') %></h6>
								</div>
							</div><!-- post-info -->

							<p class="para"><%= post.content %></p>

						</div><!-- post-top-area -->
						<div class="row">
							<% for (let image of images) { %>
								<div class="post-image col"><img class="img-fluid" src="../../<%=image.image%>" alt="Blog Image"></div>
							<% } %>
						</div>

						<div class="post-bottom-area">
							<div class="post-icons-area">
								<ul class="post-icons">
									<li><a id="heart" href="/updateHeart/<%=post.postId%>"><i class="ion-heart"></i><%= post.like %></a></li>
									<li><a href="#"><i class="ion-chatbubble"></i><%= comments.filter(x => x.postId === post.postId).length %></a></li>
									<li><a href="#"><i class="ion-eye"></i><%= post.view %></a></li>
								</ul>
							</div>
						</div><!-- post-bottom-area -->

					</div><!-- main-post -->
				</div><!-- col-lg-8 col-md-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- post-area -->


	<section class="comment-section center-text">
		<div class="container">
			<h4 class="pt-5"><b>POST COMMENT</b></h4>
			<div class="row">

				<div class="col-lg-2 col-md-0"></div>

				<div class="col-lg-8 col-md-12">
					<div class="comment-form">
						<form action="/post/<%=post.postId%>" method="post">
							<input type="hidden" name="postId" value="<%=post.postId%>"/>
							<div class="row">
								<div class="col-sm-12">
									<textarea name="commentContent" rows="2" class="text-area-messge form-control"
										placeholder="Enter your comment" aria-required="true" aria-invalid="false" required></textarea>
								</div><!-- col-sm-12 -->
								<div class="col-sm-12">
									<button class="submit-btn" type="submit" id="form-submit"><b>POST COMMENT</b></button>
								</div><!-- col-sm-12 -->

							</div><!-- row -->
						</form>
					</div><!-- comment-form -->

					<h4 id="comment"><b>COMMENTS(<%= comments.filter(x => x.postId === post.postId).length %>)</b></h4>

					<% if (comments.filter(x => x.postId === post.postId).length > 0 ) { %>
						<div class="commnets-area text-left">
							<% for (let comment of comments) { %>
								<% for (let u of users ) { %>
									<% if (u.userId === comment.userId && post.postId === comment.postId) {%>
										<div class="comment">
											<div class="post-info">
												<div class="left-area">
													<a class="avatar" href="/user/profile/<%=u.userId%>"><img src="../../<%=u.image%>" alt="Profile Image"></a>
												</div>

												<div class="middle-area">
													<a class="name" href="/user/profile/<%=u.userId%>"><b><%=u.fullname%></b></a>
													<h6 class="date">on <%= post.date.toISOString().
														replace(/T/, ' ').
														replace(/\..+/, '') %></h6>
												</div>
											</div><!-- post-info -->

											<p><%=comment.content%></p>
										</div>
									<% } %>
								<% } %>
							<% } %>
						</div><!-- commnents-area -->
						<a class="more-comment-btn" href="#"><b>VIEW MORE COMMENTS</a>
					<% } %>
				</div><!-- col-lg-8 col-md-12 -->

			</div><!-- row -->

		</div><!-- container -->
	</section>



	
	<%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>
