<%- include('../includes/head.ejs') %>
<link href="/single-post-1/css/styles.css" rel="stylesheet">
<link href="/single-post-1/css/responsive.css" rel="stylesheet">
</head>

<body>

	<%- include('../includes/navigation.ejs') %>

	<div class="slider">
		<div class="display-table  center-text">
			<h1 class="title display-table-cell"><b>PROFILE</b></h1>
		</div>
	</div><!-- slider -->


	<section class="post-area section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 no-right-padding">
					<% if (posts.length > 0) { %>

					<% if (isAuthenticated && posts[0].userId === acc.userId) { %>
					<% if (posts.length > 0) { %>
					<form action="/post" method="post" class="comment-form">
						<input type="hidden" value="<%=acc.userId%>" name="userPostId" />
						<div class="commnets-area text-left">
							<div class="comment">
								<div class="post-info">
									<div class="left-area"><a class="avatar" href="#"><img src="../../<%=acc.image%>"
												alt="Profile Image"></a></div>
									<div class="middle-area"><a class="name" href="#"><b><%=acc.fullname%></b></a></div>
								</div><!-- post-info -->

								<div class="row">
									<div class="col-sm-6">
										<input name="txtPostTitle" type="text" aria-required="true"
											name="contact-form-name" class="form-control"
											placeholder="Enter your post title" aria-invalid="true" required>
									</div><!-- col-sm-6 -->
									<div class="col-sm-6">
										<label for="image">URL Image</label>
										<input id="image" name="image" type="file" class="form-control"
											placeholder="URL Image" required>
									</div><!-- col-sm-6 -->

									<div class="col-sm-12">
										<textarea name="txtPostContent" rows="2" class="text-area-messge form-control"
											aria-required="true" aria-invalid="false" required
											placeholder="<%=acc.fullname%>, What are you thinking?"></textarea>
									</div>
									<div class="col-sm-12">
										<button name="btnPost" class="submit-btn" type="submit"
											id="form-submit"><b>POST</b></button>
									</div><!-- col-sm-12 -->
								</div><!-- row -->
							</div>
						</div>
					</form>
					<% } %>
					<% }%>

					<% for (let post of posts) { %>
					<% if (post.userId === user.userId) { %>

					<div class="main-post">
						<div class="blog-post-inner">
							<div class="post-info">
								<div class="left-area">
									<a class="avatar" href="#"><img src="../../<%=user.image%>" alt="Profile Image"></a>
								</div>
								<div class="middle-area">
									<a class="name" href="#"><b><%=user.fullname%></b></a>
									<h6 class="date">on <%= post.date.toISOString().
														replace(/T/, ' ').
														replace(/\..+/, '') %></h6>
								</div>
							</div><!-- post-info -->

							<h3 class="title"><a href="/post/<%=post.postId%>"><b><%= post.title %></b></a></h3>
							<p class="para"><%= post.content %></p>
							<% for(let image of images) { %>
							<% if (image.postId === post.postId) { %>
							<div class="post-image"><img src="../../<%=image.image%>" alt="Blog Image"></div>
							<% } %>
							<% } %>
						</div><!-- blog-post-inner -->

						<div class="post-icons-area">
							<ul class="post-icons">
								<li><a id="heart" href="/updateHeart/<%=post.postId%>"><i
											class="ion-heart"></i><%= post.like %></a></li>
								<li><a href="/post/<%=post.postId%>#comment"><i
											class="ion-chatbubble"></i><%= comments.filter(x => x.postId === post.postId).length %></a>
								</li>
								<li><a href="/post/<%=post.postId%>"><i class="ion-eye"></i><%= post.view %></a></li>
							</ul>
						</div>
					</div><!-- main-post -->
					<% } %>
					<% } %>
					<% } else { %>
					<h1>There are currently no new posts</h1>
					<% } %>
				</div><!-- col-lg-8 col-md-12 -->
				<div class="col-lg-4 col-md-12 no-left-padding">
					<div class="single-post info-area">
						<div class="sidebar-area about-area">
							<div class="container">
								<div class="row">
									<img class="" style="width: 80%; border-radius: 10px;" src="../../<%=user.image%>"
										alt="">
									<div class="col-md-9 text-left">
										<h3 class="title pt-3"><b><%= user.fullname %></b></h3>
										<p>Email: <%= user.email %></p>
									</div>
								</div>
							</div><!-- container -->
						</div>

					</div><!-- info-area -->
				</div><!-- col-lg-4 col-md-12 -->

			</div><!-- row -->
		</div><!-- container -->
	</section><!-- post-area -->



	<%- include('../includes/footer.ejs') %>

	<%- include('../includes/end.ejs') %>